<div class="flex justify-end p-5">
  <div (click)="closeDialog()">
    <div class="h-8 w-8 rounded-[32px] border flex justify-center items-center">
      <img src="../../../assets/images/close.svg" />
    </div>
  </div>
</div>
<button (click)="routerChange('/home')"
  class="text-sm font-medium hover:text-blue-400 transition ease-in-out duration-200 uppercase py-[10px] text-left pl-5 outline-0">HOME
</button>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        For Patients
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="flex flex-col px-[20px] py-[10px] min-w-[230px]">
      <a class="mb-[6px] pt-[3px] pb-[10px] border-b text-[13px] text-[#666666] cursor-pointer hover:text-blue-400 transition ease-in-out duration-200"
        href="https://heart.medicalvisual.com/home" target="_blank">
        Heart Health Education
      </a>
      <a class="mb-[6px] pt-[3px] pb-[10px] border-b text-[13px] text-[#666666] cursor-pointer hover:text-blue-400 transition ease-in-out duration-200"
        href="https://diabetes.medicalvisual.com/home" target="_blank">
        Diabetes Education
      </a>
      <a class="mb-[6px] pt-[3px] pb-[10px] border-b text-[13px] text-[#666666] cursor-pointer hover:text-blue-400 transition ease-in-out duration-200"
        href="https://heart.medicalvisual.com/spanish-content" target="_blank">
        Spanish Content
      </a>
      <a class="mb-[6px] pt-[3px] pb-[10px] border-b text-[13px] text-[#666666] cursor-pointer hover:text-blue-400 transition ease-in-out duration-200"
        href="https://linktr.ee/MedicalVisualSocials" target="_blank">
        Social Media
      </a>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        For Clinicians
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="flex flex-col px-[20px] py-[10px] min-w-[230px]">
      <a class="mb-[6px] pt-[3px] pb-[10px] border-b text-[13px] text-[#666666] cursor-pointer hover:text-blue-400 transition ease-in-out duration-200 pr-5"
        href="https://medicalvisual.com/" target="_blank">
        Custom Websites
      </a>
      <a class="mb-[6px] pt-[3px] pb-[10px] border-b text-[13px] text-[#666666] cursor-pointer hover:text-blue-400 transition ease-in-out duration-200 pr-5"
        href="https://cmsapi.disolutions.net/media/heart.medicalvisual.pdf" target="_blank">
        Download QR Sheet
      </a>
      <a class="mb-[6px] pt-[3px] text-[13px] text-[#666666] cursor-pointer hover:text-blue-400 transition ease-in-out duration-200 pr-5"
        href="https://cmsapi.disolutions.net/media/heartspanish.medicalvisual.pdf" target="_blank">
        Download QR Sheet - Español
      </a>
    </ul>
  </mat-expansion-panel>
  <!-- } -->
</mat-accordion>
