@if(showBanner){
  <div class="cookie-banner">
    <div class="cookie-content">
      <span class="cookie-icon">🍪</span>
      <h2>Cookies Consent</h2>
      <p>
        This website uses cookies to help you have a superior and more relevant browsing experience on the website.
        <a href="https://cardiovisual.com/privacy-policy/">Read more...</a>
      </p>
      <div class="button-group">
        <button class="accept-btn" (click)="acceptCookies()">Accept</button>
        <button class="decline-btn" (click)="declineCookies()">Decline</button>
      </div>
    </div>
  </div>
  }
