<!-- start intro -->
<section class="bg-[#0471A6] relative">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 h-full">
      <div class="col-span-2 ">
        <img src="../../../assets/images/digital-solutions/hero-image.png" class="object-cover " />
      </div>
      <div class="col-span-2">
        <div class="flex justify-center w-full h-full max-lg:px-10">
          <div class="md:pl-2 py-5 sm:pr-5 flex flex-col justify-center max-lg:items-center w-full relative z-20">
            <div class="flex justify-center ">
              <img src="../../../assets/images/footerLogo.svg" alt="footer-logo"
                class="2xl:h-[48px] xl:h-[40px] lg:h-[32px] h-[30px]" />
            </div>
            <div
              class="uppercase text-white font-medium 2xl:text-[48px] xl:text-[40px] lg:text-[30px] pt-5 pl-1 max-lg:pb-12 max-sm: text-center">
              Educational Videos Created and Curated by Doctors
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-white lg:py-[60px] md:py-[48px] py-[40px]">
  <div class="container mx-auto px-4 sm:px-6 md:px-8">
    <!-- Heading Section -->
    <h3 class="text-black font-bold text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl xl:pt-5 text-center">
      Clinician-driven patient
    </h3>
    <h3
      class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl xl:pt-5 md:pt-3 pt-2 text-center font-bold bg-gradient-to-r from-[#0471A6] to-[#92CD91] bg-clip-text text-transparent">
      education platforms
    </h3>

    <!-- Content Section -->
    <div class="lg:py-7 py-5 text-center mx-auto max-w-4xl space-y-6 text-gray-800">
      <p class="text-md md:text-xl leading-relaxed font-medium">
        Our video-based platforms help clinicians easily provide patients with
        <br class="max-sm:hidden" />
        comprehensive information on heart health, diabetes, and wellness.
      </p>
      <p class="text-md md:text-xl leading-relaxed font-medium">
        Our goal is to empower patients to improve
        <br class="max-sm:hidden" />
        health outcomes while saving clinicians valuable time.
      </p>
    </div>
  </div>
</section>
<!-- end description -->

<!-- start digital solution -->
<section class="bg-[#0471A6] lg:py-[80px] md:py-[60px] py-[40px] relative">
  <div class="absolute bottom-0 left-0">
    <img src="../../../assets/images/digital-bg.png" class="w-full" />
  </div>
  <div class="container mx-auto">
    <div class="flex flex-col lg:gap-[48px] md:gap-[36px] gap-[30px]">
      <h3 class="flex justify-center text-white font-medium lg:text-[48px] md:text-[40px] text-[34px]">
        Our Digital Solutions
      </h3>
      <div class="grid sm:grid-cols-12 gap-4">
        @for (digitalSolutions of digitalSolutionsData; track $index) {
        <div class="bg-white md:rounded-[16px] rounded-[12px] w-full md:col-span-4 sm:col-span-6 cursor-pointer"
          (click)="redirect(digitalSolutions.link)">
          <img [src]="digitalSolutions.imageSrc" [alt]="digitalSolutions.alt"
            class="md:rounded-t-[16px] rounded-t-[12px] w-full object-contain max-h-[300px]" />
          <div class="flex flex-col justify-center items-center md:pt-4 pt-2 md:pb-6 pb-2">
            <p class="text-[#7A868C] md:text-xl text-lg">{{digitalSolutions.subtitle}}</p>
            <div class="py-4 text-center text-gray-800">
              <p class="md:text-2xl text-xl font-bold">{{digitalSolutions.title1}} <br
                  class="max-sm:hidden" />{{digitalSolutions.title2}}</p>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>

<!-- end digital solution -->
<section class="bg-white lg:py-[80px] md:py-[60px] py-[40px] flex flex-col gap-[60px] relative">
  <div class="container mx-auto">
    <div class="flex flex-col w-full xl:gap-14 lg:gap-10 md:gap-8 gap-6">
      <!--start explore content -->
      <div class="flex flex-col lg:gap-[48px] md:gap-[36px] gap-[30px]">
        <div class="flex flex-wrap justify-center text-black font-medium text-4xl md:text-5xl pt-5 gap-2 text-center">
          Explore
          <span class="bg-gradient-to-r from-[#0471A6] to-[#92CD91] bg-clip-text text-transparent"> Content </span>
        </div>
        <!-- Cards Section -->
        <div class="grid sm:grid-cols-12 gap-4">
          @for(details of contentData; track $index){
          <div (click)="redirect(details.link)"
            class="bg-white md:rounded-[16px] rounded-[12px] overflow-hidden flex flex-col items-center relative md:col-span-4 sm:col-span-6 cursor-pointer">
            <img [src]="details.image" alt="Heart Health Education" class="object-cover w-full h-[340px]" />
            <p
              class="text-white text-center md:text-[26px] text-[20px] font-medium pt-3 absolute bottom-4 left-0 w-full flex justify-center z-10">
              {{details.title}}
            </p>
            <div class="h-full w-full absolute bottom-0 left-0 bg-gradient-to-b from-[#fff0] to-[#000]"></div>
          </div>
          }
        </div>
      </div>
      <!-- end explore content -->


      <!-- start Custom Websites -->
      <div class="flex flex-col lg:gap-[48px] md:gap-[36px] gap-[30px]">
        <div class="flex flex-wrap justify-center text-black font-medium text-4xl md:text-5xl pt-5 gap-2 text-center">
          Explore
          <span class="bg-gradient-to-r from-[#0471A6] to-[#92CD91] bg-clip-text text-transparent">
            Custom Websites
          </span>
        </div>
        <!-- Cards Section -->
        <div class="grid sm:grid-cols-12 gap-4">
          @for(details of customWebsiteContent; track $index){
          <div (click)="redirect(details.link)"
            class="group cursor-pointer md:col-span-4 sm:col-span-6 bg-white hover:bg-gradient-to-r from-[#0471A6] to-[#92CD91] md:rounded-[16px] rounded-[12px] border border-[#8DCAE2] flex flex-col justify-center items-center md:px-6 px-2 md:py-5 py-3">
            <img [src]="details.image" alt="img"
              class="md:pt-[52px] pt-[40px] md:pb-[60px] pb-[40px] group-hover:hidden" />
            <img [src]="details.hoverImage" alt="img"
              class="md:pt-[52px] pt-[40px] md:pb-[60px] pb-[40px] group-hover:block hidden" />
            <div class="py-5 text-center text-gray-800 group-hover:text-white">
              <p class="text-lg md:text-2xl font-bold">
                {{details.title}}
                <br class="max-sm:hidden" />
                {{details.altText}}
              </p>
            </div>
          </div>
          }
        </div>
      </div>
      <!-- end Custom Websites -->


      <!-- start Resources For Clinicians -->
      <div class="flex flex-col lg:gap-[48px] md:gap-[36px] gap-[30px]">
        <div class="flex flex-wrap justify-center text-black font-medium text-4xl md:text-5xl pt-5 gap-2 text-center">
          Resources For
          <span class="bg-gradient-to-r from-[#0471A6] to-[#92CD91] bg-clip-text text-transparent"> Clinicians </span>
        </div>
        <!-- Cards Section -->
        <div class="grid sm:grid-cols-12 gap-4">
          @for(details of clinicalResources; track $index){
          <div (click)="redirect(details.link , appTemplate)"
            class="group cursor-pointer md:col-span-4 sm:col-span-6 bg-white hover:bg-gradient-to-r from-[#0471A6] to-[#92CD91] md:rounded-[16px] rounded-[12px] border border-[#8DCAE2] flex flex-col justify-center items-center md:px-6 px-2 md:py-5 py-3">
            <img [src]="details.image" alt="Medical Practices & Hospitals"
              class="md:pt-[52px] pt-[40px] md:pb-[60px] pb-[40px]" />
            <div class="py-5 text-center text-gray-800 group-hover:text-white">
              <p class="text-lg md:text-2xl font-bold">{{details.title}}</p>
            </div>
          </div>
          }
        </div>
      </div>
      <!-- end Resources For Clinicians -->
    </div>
  </div>
</section>

<!-- start trusted content & Key Users and Partners -->
<section class="bg-[#ECF9FF] lg:py-[80px] md:py-[60px] py-[40px]">
  <div class="container mx-auto h-full px-4 sm:px-6 md:px-8">
    <!-- Title Section -->
    <div class="flex justify-center text-black font-medium lg:text-5xl text-4xl pt-5 pl-1 gap-2">
      Trusted
      <span class="bg-gradient-to-r from-[#0471A6] to-[#92CD91] bg-clip-text text-transparent"> Content </span>
    </div>
    <p class="text-xl font-bold leading-relaxed flex justify-center pt-2 text-center">
      Created by leading clinician experts and collaborators
    </p>

    <!-- Logos Carousel Section -->
    <div class="collaborator-swiper swiper pt-10 pb-16">
      <div class="swiper-wrapper flex items-center">
        @for (collaborator of collaborators; track $index) {
        <div class="swiper-slide flex items-center justify-center">
          <img [src]="collaborator.image" [alt]="collaborator.name" class="h-auto max-w-full max-h-[110px] mx-auto" />
        </div>
        }
      </div>

      <!-- Pagination -->
      <div class="swiper-pagination flex justify-center items-center pb-1 custom-pagination"></div>
      <div class="swiper-button-prev max-lg:hidden"></div>
      <div class="swiper-button-next max-lg:hidden"></div>
    </div>

    <!-- Expert Carousel Section -->
    <div class="expert-swiper swiper pt-10 pb-16">
      <div class="swiper-wrapper flex items-center h-full">
        @for (expert of experts; track $index) {
        <div class="swiper-slide custom-box-shadow bg-white md:rounded-[16px] rounded-[12px] h-auto">
          <img [src]="expert.image" [alt]="expert.name"
            class="md:rounded-t-[16px] rounded-t-[12px] items-center w-full lg:h-[212px] h-[345px] object-cover justify-center" />
          <div class="p-4 lg:min-h-[128px]">
            <p class="text-base font-bold max-h-[120px] line-clamp-2 max-lg:line-clamp-1">{{ expert.name }},
              {{expert.role }}</p>
            <p class="text-[#7A868C] lg:min-h-[48px] line-clamp-2 max-lg:line-clamp-1">
              {{ expert.description }}
            </p>
          </div>
        </div>
        }
      </div>

      <!-- Pagination -->
      <div class="swiper-pagination flex justify-center items-center pb-1 custom-pagination"></div>
      <div class="swiper-button-prev max-lg:hidden"></div>
      <div class="swiper-button-next max-lg:hidden"></div>
    </div>

    <div class="pt-10">
      <div class="flex justify-center text-black font-medium lg:text-5xl text-4xl pt-5 gap-2">
        Key
        <span class="bg-gradient-to-r from-[#0471A6] to-[#92CD91] bg-clip-text text-transparent">
          Users and Partners
        </span>
      </div>
      <p class="text-xl font-bold leading-relaxed flex justify-center pt-3">Include world-class institutions</p>

      <div class="users-partners-swiper swiper pt-10 pb-16">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper flex items-center">
          <!-- Slides -->
          @for (logo of logos; track $index) {
          <div class="swiper-slide h-full flex justify-center items-center">
            <img [src]="logo.src" [alt]="logo.alt" class="max-h-[110px] mx-auto" />
          </div>
          }
        </div>
        <!-- If we need pagination -->

        <!-- Pagination -->
        <div class="swiper-pagination flex justify-center items-center pb-1 custom-pagination"></div>
        <div class="swiper-button-prev max-lg:hidden"></div>
        <div class="swiper-button-next max-lg:hidden"></div>
      </div>
    </div>
  </div>
</section>
<!-- end trusted content & Key Users and Partners  -->

<!-- start count -->
<section class="bg-[#0471A6] py-[50px] relative">
  <div class="absolute bottom-0 left-0">
    <img src="../../../assets/images/number-bg.png" class="w-full" />
  </div>
  <div class="container mx-auto">
    <div class="grid gap-3 sm:grid-cols-12 lg:grid-cols-12 xl:grid-cols-5 text-gray-800">
      @for (status of statsData; track $index) {
      <div
        class="max-xl:col-span-4 max-md:col-span-6 w-full flex flex-col bg-white md:rounded-[16px] rounded-[12px] p-7 text-center mx-auto space-y-6 h-[196px] sm:h-[196px] lg:h-[196px]">
        <span class="font-bold text-5xl bg-gradient-to-r from-[#0471A6] to-[#92CD91] bg-clip-text text-transparent">
          {{status.value}}
        </span>
        <span class="text-xl font-semibold leading-relaxed">
          {{status.label}}
          <br />
          {{status.description}}
        </span>
      </div>
      }
    </div>
  </div>
</section>
<!-- end count -->

<!-- start Our Social Feeds & MedicalVisual in the News & Customer Reviews -->
<section class="lg:py-[80px] md:py-[60px] py-[40px] relative overflow-hidden">
  <div class="absolute xl:-top-[50px] lg:top-[20px] xl:right-10 lg:right-4 md:right-3 sm:right-2 max-lg:hidden z-0">
    <img src="../../../assets/images/dot-bg.png" />
    <div class="round-animation">
      <div class="circle delay1"></div>
      <div class="circle delay2"></div>
      <div class="circle delay3"></div>
      <div class="circle delay4"></div>
    </div>
  </div>
  <div class="absolute bottom-[660px] left-10 z-0 max-lg:hidden">
    <img src="../../../assets/images/dot-bg.png" />
    <div class="round-animation">
      <div class="circle delay1"></div>
      <div class="circle delay2"></div>
      <div class="circle delay3"></div>
      <div class="circle delay4"></div>
    </div>
  </div>
  <div class="absolute md:-bottom-[100px] bottom-[20px] xl:right-10 lg:right-4 md:right-3 sm:right-2 max-lg:hidden z-0">
    <img src="../../../assets/images/dot-bg.png" />
    <div class="round-animation">
      <div class="circle delay1"></div>
      <div class="circle delay2"></div>
      <div class="circle delay3"></div>
      <div class="circle delay4"></div>
    </div>
  </div>
  <!-- start social feed -->
  <div class="container mx-auto relative z-10">
    <div class="flex flex-col w-full gap-14">
      <div class="flex flex-col lg:gap-[48px] md:gap-[36px] gap-[30px]">
        <div class="flex md:justify-start justify-center text-black font-medium lg:text-5xl text-4xl gap-2">
          Our
          <span class="bg-gradient-to-r from-[#0471A6] to-[#92CD91] bg-clip-text text-transparent"> Social Feeds </span>
        </div>
        <div>
          <!-- Cards Container -->
          <div class="grid sm:grid-cols-12 gap-3">
            <!-- Instagram Card -->
            <div
              class="card bg-white md:rounded-[16px] rounded-[12px] custom-box-shadow transition duration-300 md:col-span-4 sm:col-span-6">
              <img src="../../../assets/images/instagramProfile.png" alt="Texas Diabetes Logo"
                class="w-full md:rounded-t-[16px] rounded-t-[12px] h-[400px]" />
              <div class="p-4">
                <p class="text-[20px] text-black font-bold">CardioVisual</p>
                <a class="text-[16px] mt-2 flex items-center gap-2 hover:text-blue-600"
                  href="https://www.instagram.com/cardiovisual" target="_blank">Instagram
                  <mat-icon>launch</mat-icon>
                </a>
              </div>
            </div>
            <!-- LinkedIn Card -->
            <div
              class="card bg-white md:rounded-[16px] rounded-[12px] custom-box-shadow transition duration-300 md:col-span-4 sm:col-span-6 sm:col-start-4">
              <img
                src="https://media.licdn.com/dms/image/v2/D4E22AQEzd1mNr7JEgw/feedshare-shrink_800/B4EZSOf9smHMAk-/0/1737557531968?e=1740614400&v=beta&t=kD9KITFT0ONw56KRNHlqWeZnMW-tuwDa8sw4ir53-SI"
                alt="LinkedIn post" class="w-full md:rounded-t-[16px] rounded-t-[12px] h-[400px]" />
              <div class="p-4">
                <p class="text-[20px] text-black font-bold">{{linkedinText}}</p>
                <a class="text-[16px] mt-2 flex items-center gap-2 hover:text-blue-600"
                  href="https://www.linkedin.com/feed/update/urn:li:activity:7287850254912126977/"
                  target="_blank">LinkedIn
                  <mat-icon>launch</mat-icon>
                </a>
              </div>
            </div>
            <!-- YouTube Card -->
            <div
              class="card bg-white md:rounded-[16px] rounded-[12px] custom-box-shadow transition duration-300 md:col-span-4 sm:col-span-6">
              <img [src]="youtubVideoContent?.snippet?.thumbnails?.high?.url" [alt]="youtubVideoContent?.snippet?.title"
                class="w-full md:rounded-t-[16px] rounded-t-[12px] h-[400px]" />
              <div class="p-4">
                <p class="text-[20px] text-black font-bold">{{youtubVideoContent?.snippet?.description}}</p>
                <a class="text-[16px] mt-2 flex items-center gap-2 hover:text-blue-600"
                  href="https://www.youtube.com/watch?v={{youtubVideoContent?.id?.videoId}}" target="_blank">YouTube
                  <mat-icon>launch</mat-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end social feed -->

      <!-- start MedicalVisual in the News -->
      <div class="flex flex-col lg:gap-[48px] md:gap-[36px] gap-[30px]">
        <!-- Section Header -->
        <div class="grid lg:grid-cols-2 gap-4">
          <div>
            <div
              class="flex items-center lg:justify-start justify-center text-black font-medium lg:text-[48px] md:text-[40px] text-[34px] leading-normal">
              MedicalVisual in the
              <span class="bg-gradient-to-r from-[#0471A6] to-[#92CD91] bg-clip-text text-transparent pl-2">
                News
              </span>
            </div>
            <!-- <div class="text-[18px] text-[#040404] lg:text-start text-center">
              Read about CardioVisual Health's success stories, stay informed with the latest news and media updates,
              and explore informative blogs from our experts
            </div> -->
          </div>
        </div>

        <div>
          <div class="healthcare-swiper swiper pt-4 pb-16 px-3">
            <div class="swiper-wrapper">
              @for (news of newsData; track $index) {
              <div class="swiper-slide custom-box-shadow bg-white h-auto md:rounded-[16px] rounded-[12px]">
                <div
                  class="bg-white md:rounded-[16px] rounded-[12px] custom-box-shadow transition duration-300 cursor-pointer h-full"
                  (click)="redirect(news.link)">
                  <img [src]="news.imageSrc" [alt]="news.alt" class="w-full h-[235px] object-cover rounded-t-lg" />
                  <div class="p-4">
                    <h3 class="text-[20px] font-bold">{{news.title}}</h3>
                    <p class="text-[16px] text-[#7A868C] mt-2">{{news.description}}
                    </p>
                    <!-- <div class="h-[1px] w-full bg-[#D9D9D9] my-6 mt-[46px]"></div>
                    <p class="text-[#7A868C] mt-4 font-medium">{{news.category}}</p> -->
                  </div>
                </div>
              </div>
              }
            </div>
            <!-- Pagination -->
            <div class="swiper-pagination flex justify-center items-center pb-1 custom-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
      <!-- end MedicalVisual in the News -->

      <!-- start Customer Reviews -->
      <div class="flex flex-col lg:gap-[48px] md:gap-[36px] gap-[30px]">
        <div>
          <!-- Section Header -->
          <div
            class="flex items-center lg:justify-start justify-center text-black font-medium lg:text-[48px] md:text-[40px] text-[34px] leading-normal">
            Customer
            <span class="bg-gradient-to-r from-[#0471A6] to-[#92CD91] bg-clip-text text-transparent pl-2">
              Reviews
            </span>
          </div>
        </div>
        <div>
          <div class="healthcare-swiper swiper pt-4 pb-16 px-3">
            <div class="swiper-wrapper">
              @for (review of customerReviews; track $index) {
              <div class="swiper-slide custom-box-shadow bg-white h-auto md:rounded-[16px] rounded-[12px]">
                <div
                  class="bg-white md:rounded-[16px] rounded-[12px] custom-box-shadow transition duration-300 w-full relative">
                  <img src="../../../assets/images/quote-icon.png" class="absolute top-7 left-4 rotate-180" />
                  <img src="../../../assets/images/quote-icon.png" class="absolute bottom-7 right-4" />
                  <div class="p-4 flex flex-col gap-10">
                    <div class="flex flex-col gap-3">
                      <span class="text-base text-black mt-14 line-clamp-5 overflow-hidden text-ellipsis">
                        {{ review?.reviewDetail }}
                      </span>
                      <button class="flex justify-start text-blue-400 hover:text-blue-600 text-sm"
                        (click)="openDialog(openReview, review)">Read
                        More</button>
                    </div>

                    <!-- Reviewer Info -->
                    <div class="flex flex-col">
                      <!-- Star Ratings -->
                      <div class="flex gap-1">
                        @for (star of [1, 2, 3, 4, 5]; track $index) {
                        <button mat-flat-button [id]="'star_'+$index">
                          <mat-icon [style]="{
                            color: $index < (review?.stars || 0) ? '#F59E0B' : '#D1D5DB'
                          }">
                            {{showIcon($index,review?.stars || 0)}}
                          </mat-icon>
                        </button>
                        }
                      </div>
                      <p class="text-[#0471A6] font-medium">{{review?.reviewerName}}</p>
                      <!-- <p class="text-[#7A868C]">5 days ago</p> -->
                    </div>
                  </div>
                </div>
              </div>

              }
            </div>
            <!-- Pagination -->
            <div class="swiper-pagination flex justify-center items-center pb-1 custom-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
      <!-- end Customer Reviews -->
    </div>
  </div>
</section>
<!-- start Our Social Feeds & MedicalVisual in the News & Customer Reviews -->

<!-- start review detail template -->
<ng-template #openReview>
  <div class="relative p-6 max-w-2xl mx-auto bg-white rounded-lg shadow-lg overflow-hidden">
    <!-- Close Button -->
    <button class="absolute top-2 right-2 p-2 text-gray-500 hover:text-gray-700 rounded-full" mat-icon-button
      (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>

    <!-- Review Content -->
    <div class="mt-4">
      <h1 class="text-2xl font-semibold text-black mb-4">{{ selectedReview.reviewHeader }}</h1>
      <div class="flex justify-between items-center mb-4">
        <div class="flex gap-1">
          @for (star of [1, 2, 3, 4, 5]; track $index) {
          <button mat-flat-button [id]="'star_'+$index">
            <mat-icon [style]="{
               color: $index < (selectedReview?.stars || 0) ? '#F59E0B' : '#D1D5DB'
             }">
              {{showIcon($index,selectedReview?.stars || 0)}}
            </mat-icon>
          </button>
          }
        </div>
        <h2 class="text-lg font-medium text-gray-800">{{ selectedReview.reviewerName }}</h2>
      </div>
      <p class="text-gray-600 leading-relaxed text-base">
        {{ selectedReview?.reviewDetail }}
      </p>
    </div>
  </div>
</ng-template>
<!-- end review detail template -->

<!-- start app template -->
<ng-template #appTemplate>
  <div class="relative p-6 max-w-2xl mx-auto bg-white rounded-lg shadow-lg overflow-hidden">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-semibold">Download Our App</h2>
      <button class="absolute top-2 right-2 p-2 text-gray-500 hover:text-gray-700 rounded-full outline-none"
        mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <p class="text-gray-700 mb-6">Get the app for your mobile device.</p>
    <div class="flex justify-center gap-4">
      <div>
        <a href="http://app.cardiovisual.com/G7gT/xbJxKfSWwF" target="_blank" rel="noopener">
          <img class=" ls-is-cached lazyloaded" alt="CardioVisual - Best Heart Disease Apps for 2018"
            src="https://cardiovisual.com/wp-content/uploads/2021/01/GooglePlay.jpg" width="120">
        </a>
      </div>
      <div>
        <a href="http://app.cardiovisual.com/G7gT/xbJxKfSWwF" target="_blank" rel="noopener">
          <img class=" ls-is-cached lazyloaded" alt="CardioVisual - Best Heart Disease Apps for 2018"
            src="https://cardiovisual.com/wp-content/uploads/2021/01/iTunesConnect.jpg" width="120">
        </a>
      </div>
    </div>
  </div>
</ng-template>
<!-- end app template -->
