<!-- start intro -->
<section class="bg-[#0471A6]">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 py-10">
      <div class="relative w-full">
        <div style="position: relative; width: 100%;">
          <img class=" h-full w-full" src="../../../assets/images/main-screen.svg" />
        </div>
      </div>

      <div class="md:pl-3 py-5 flex flex-col justify-center">
        <div>
          <img src="../../../assets/images/footerLogo.svg" alt="footer-logo" class="h-[3rem]" />
        </div>
        <div class="uppercase text-white font-medium text-5xl pt-5 pl-1">
          Educational Videos
          <br />
          Created and Curate
          <br />
          by doctors
          <br />
        </div>
      </div>
    </div>

  </div>
</section>
<!-- end intro -->

<!-- start searchbox -->
<section>
  <div class="flex justify-center py-10">
    <input type="text" placeholder="Search educational videos..."
      class="w-full md:w-2/3 lg:w-1/2 p-4 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-[#92CD91]" />
  </div>
</section>
<!-- end searchbox -->

<!-- start description -->
<section class="bg-white">
  <div class="container mx-auto">
    <h1 class="flex justify-center text-black font-medium text-7xl pt-5 pl-1">
      Clinician-driven patient
    </h1>
    <h1
      class="text-7xl flex pt-2 justify-center font-bold bg-gradient-to-r from-[#0471A6] to-[#92CD91] bg-clip-text text-transparent">
      education platforms
    </h1>
    <div class="py-7 text-center mx-auto max-w-4xl space-y-6 text-gray-800">
      <p class="text-xl leading-relaxed font-medium">
        Our video-based platforms help clinicians easily provide patients with
        <br />
        comprehensive and reliable information on
        heart health, diabetes, and wellness.
      </p>
      <p class="text-xl leading-relaxed font-medium">
        Our goal is to empower patient learning and engagement throughout their care
        <br /> journey - to improve health
        outcomes while saving clinicians valuable time.
      </p>
    </div>

  </div>

</section>
<!-- end description -->

<!-- start digital solution -->
<section class="bg-[#0471A6]">
  <div class="container mx-auto">
    <h1 class="flex justify-center text-white font-medium text-4xl pt-5 pl-1">Our Digital Solutions</h1>
  </div>
  <div class="flex flex-rpw justify-center py-6 gap-2 ">
    <!-- website app -->
    <div class="bg-white rounded-md">
      <img src="../../../assets/images/web.svg" class="rounded-md" />
      <div class=" flex flex-col justify-center items-center pt-2">
        <p class="text-[#7A868C] text-1xl">
          Custom Website
        </p>
        <div class="py-7 text-center mx-auto max-w-4xl space-y-6 text-gray-800">
          <p class="text-xl font-bold leading-relaxed">For clinics &
            <br />
            provider systems
          </p>
        </div>
      </div>
    </div>
    <!-- mobile app -->
    <div class="bg-white rounded-md">
      <img src="../../../assets/images/mobile.svg" class="rounded-md" />
      <div class=" flex flex-col justify-center items-center pt-2">
        <p class="text-[#7A868C] text-1xl">
          Mobile App
        </p>
        <div class="py-7 text-center mx-auto max-w-4xl space-y-6 text-gray-800">
          <p class="text-xl font-bold leading-relaxed">For on-the-go
            <br />
            clinicians
          </p>
        </div>
      </div>
    </div>
    <!-- social app -->
    <div class="bg-white rounded-md">
      <img src="../../../assets/images/social_media.svg" class="rounded-md" />
      <div class=" flex flex-col justify-center items-center pt-2">
        <p class="text-[#7A868C] text-1xl">
          Social Media
        </p>
        <div class="py-7 text-center mx-auto max-w-4xl space-y-6 text-gray-800">
          <p class="text-xl font-bold leading-relaxed">For everyday
            <br />
            learning
          </p>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- end degital solution -->

<section class="bg-white gap-5">
  <!--start explore content -->
  <div>
    <div class="container mx-auto">
      <span class="flex justify-center text-black font-medium text-5xl pt-5 pl-1 gap-2">Explore
        <span class="bg-gradient-to-r from-[#0471A6] to-[#92CD91] bg-clip-text text-transparent">
          Content
        </span>
      </span>
    </div>

    <div class="flex flex-rpw justify-center py-6 gap-2 ">
      <!-- Heart helth education -->
      <div class="bg-white rounded-md">
        <img src="../../../assets/images/web.svg" class="rounded-md" />
        <div class=" flex flex-col justify-center items-center pt-2">
          <p class="text-[#7A868C] text-1xl">
            Heart Health Education
          </p>
        </div>
      </div>
      <!-- diabetes education -->
      <div class="bg-white rounded-md">
        <img src="../../../assets/images/mobile.svg" class="rounded-md" />
        <div class=" flex flex-col justify-center items-center pt-2">
          <p class="text-[#7A868C] text-1xl">
            Diabetes Education
          </p>

        </div>
      </div>
      <!-- diabetes self-management education -->
      <div class="bg-white rounded-md">
        <img src="../../../assets/images/social_media.svg" class="rounded-md" />
        <div class=" flex flex-col justify-center items-center pt-2">
          <p class="text-[#7A868C] text-1xl">
            Diabetes  Self-Management  Education
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end explore content -->

  <!-- start Custom Websites -->
  <div>
    <div class="container mx-auto">
      <span class="flex justify-center text-black font-medium text-5xl pt-5 pl-1 gap-2">Explore
        <span class="bg-gradient-to-r from-[#0471A6] to-[#92CD91] bg-clip-text text-transparent">
          Custom Websites
        </span>
      </span>
    </div>

    <div class="flex flex-rpw justify-center py-6 gap-4 w-full">
      <!-- Medical Practices & Hospitals -->
      <div
        class="bg-white rounded-md border-spacing-1 border border-[#8DCAE2] flex flex-col justify-center items-center px-6 py-5">
        <img src="../../../assets/images/Medical Practices  & Hospitals.svg" class="rounded-md p-4" />
        <div class="py-7 text-center mx-auto max-w-4xl space-y-6 text-gray-800">
          <p class="text-xl font-bold leading-relaxed">
            Medical Practices
            <br />
            & Hospitals
          </p>
        </div>
      </div>
      <!-- Specialized Clinics & Centers -->
      <div
        class="bg-white rounded-md border-spacing-1 border border-[#8DCAE2] flex flex-col justify-center items-center px-6 py-5">
        <img src="../../../assets/images/Specialized Clinics  & Centers.svg" class="rounded-md p-4" />
        <div class="py-7 text-center mx-auto max-w-4xl space-y-6 text-gray-800">
          <p class="text-xl font-bold leading-relaxed">
            Specialized Clinics
            <br />
            & Centers
          </p>

        </div>
      </div>
      <!-- Surgical & Procedure Facilities -->
      <div
        class="bg-white rounded-md border-spacing-1 border border-[#8DCAE2] flex flex-col justify-center items-center px-6 py-5">
        <img src="../../../assets/images/Surgical & Procedure  Facilities.svg" class="rounded-md p-4" />
        <div class="py-7 text-center mx-auto max-w-4xl space-y-6 text-gray-800">
          <p class="text-xl font-bold leading-relaxed">
            Surgical & Procedure
            <br />
            Facilities
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end Custom Websites -->

  <!-- start Resources For Clinicians -->
  <div>
    <div class="container mx-auto">
      <span class="flex justify-center text-black font-medium text-5xl pt-5 pl-1 gap-2">Resources For
        <span class="bg-gradient-to-r from-[#0471A6] to-[#92CD91] bg-clip-text text-transparent">
          Clinicians
        </span>
      </span>
    </div>

    <div class="flex flex-rpw justify-center py-6 gap-4 w-full">
      <!-- Customize Website -->
      <div
        class="bg-white rounded-md border-spacing-1 border border-[#8DCAE2] flex flex-col justify-center items-center px-6 py-5">
        <img src="../../../assets/images/Customize Website.svg" class="rounded-md p-4" />
        <div class="py-7 text-center mx-auto max-w-4xl space-y-6 text-gray-800">
          <p class="text-xl font-bold leading-relaxed">
            Customize Website
          </p>
        </div>
      </div>
      <!-- Download QR Sheets -->
      <div
        class="bg-white rounded-md border-spacing-1 border border-[#8DCAE2] flex flex-col justify-center items-center px-6 py-5">
        <img src="../../../assets/images/Download QR Sheets.svg" class="rounded-md p-4" />
        <div class="py-7 text-center mx-auto max-w-4xl space-y-6 text-gray-800">
          <p class="text-xl font-bold leading-relaxed">
            Download QR Sheets
          </p>

        </div>
      </div>
      <!-- Download Mobile App -->
      <div
        class="bg-white rounded-md border-spacing-1 border border-[#8DCAE2] flex flex-col justify-center items-center px-6 py-5">
        <img src="../../../assets/images/Download Mobile App.svg" class="rounded-md p-4" />
        <div class="py-7 text-center mx-auto max-w-4xl space-y-6 text-gray-800">
          <p class="text-xl font-bold leading-relaxed">
            Download Mobile App
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end Resources For Clinicians -->
</section>

<!-- start count -->
<section class="bg-[#0471A6]">
  <div class="container mx-auto">
    <div class="p-5 flex gap-3">
      <div class="flex flex-col bg-white rounded-xl p-7 text-center mx-auto  space-y-6 text-gray-800">
        <span class="font-bold text-5xl bg-gradient-to-r from-[#0471A6] to-[#92CD91] bg-clip-text text-transparent ">
          100K+
        </span>
        <span class="text-xl font-semibold leading-relaxed">
          Clinicians
          <br />
          Globally
        </span>
      </div>

      <div class="flex flex-col bg-white rounded-xl p-7 text-center mx-auto  space-y-6 text-gray-800">
        <span class="font-bold text-5xl bg-gradient-to-r from-[#0471A6] to-[#92CD91] bg-clip-text text-transparent ">
          1M+
        </span>
        <span class="text-xl font-semibold leading-relaxed">
          Users
          <br />
          Globally
        </span>
      </div>

      <div class="flex flex-col bg-white rounded-xl p-7 text-center mx-auto  space-y-6 text-gray-800">
        <span class="font-bold text-5xl bg-gradient-to-r from-[#0471A6] to-[#92CD91] bg-clip-text text-transparent ">
          100+
        </span>
        <span class="text-xl font-semibold leading-relaxed">
          Countries
          <br />
          Where Used
        </span>
      </div>

      <div class="flex flex-col bg-white rounded-xl p-7 text-center mx-auto  space-y-6 text-gray-800">
        <span class="font-bold text-5xl bg-gradient-to-r from-[#0471A6] to-[#92CD91] bg-clip-text text-transparent ">
          500+
        </span>
        <span class="text-xl font-semibold leading-relaxed">
          Curated Videos in
          <br />
          English and Spanish
        </span>
      </div>

      <div class="flex flex-col bg-white rounded-xl p-7 text-center mx-auto max-w-4xl space-y-6 text-gray-800">
        <span class="font-bold text-5xl bg-gradient-to-r from-[#0471A6] to-[#92CD91] bg-clip-text text-transparent ">
          700K+
        </span>
        <span class="text-xl font-semibold leading-relaxed">
          Social Media
          <br />
          Followers
        </span>
      </div>
    </div>
  </div>

</section>
<!-- end count -->
