@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';
@use 'swiper/swiper-bundle.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.container {
  @media screen and (min-width: 1536px) {
    max-width: 1280px;
  }
  @media screen and (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.collaborator-swiper,
.expert-swiper,
.users-partners-swiper,
.healthcare-swiper {
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0px;
  }

  .swiper-button-prev {
    left: calc(50% - 60px);
    bottom: 0;
    top: auto;
    @media screen and (max-width: 1279px) {
      left: calc(50% - 70px);
    }
    @media screen and (max-width: 1023px) {
      left: calc(50% - 80px);
    }
  }

  .swiper-button-next {
    right: calc(50% - 60px);
    bottom: 0;
    top: auto;
    @media screen and (max-width: 1279px) {
      right: calc(50% - 70px);
    }
    @media screen and (max-width: 1023px) {
      right: calc(50% - 80px);
    }
  }
}
.swiper-button-prev,
.swiper-button-next {
  color: #0471a6 !important;
}
.swiper-pagination-bullet {
  background: #0471a6 !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background: #92cd91 !important;
  height: 12px;
  width: 12px;
}

:root {
  .collaborator-swiper,
  .expert-swiper,
  .users-partners-swiper,
  .healthcare-swiper {
    --swiper-navigation-size: 20px;
  }
}

.custom-box-shadow {
  box-shadow: 0px 4px 20px 5px rgba(141, 202, 226, 0.15);
}
.mat-mdc-dialog-surface {
  border-radius: 0 !important;
}
.mat-accordion .mat-expansion-panel:first-of-type {
  box-shadow: none;
}
.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
}
@media (max-width: 599px) {
  .cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: 100% !important;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  user-select: none;            /* Disable text selection */
  -webkit-user-select: none;    /* For Safari */
  -ms-user-select: none;        /* For IE/Edge */
  -moz-user-select: none;       /* For Firefox */
}
